<p><button class="btn btn-xs btn-default btn-address">New Address</button></p>
<div class="clearfix"></div>
{% for(var i=0, l=addr_list.length; i<l; i++) { %}
    <p class="h6">
        {%= i+1 %}. {%= addr_list[i].address_type %}
        {% if(addr_list[i].is_primary_address) { %}
            <span class="text-muted">({%= __("Primary") %})</span>{% } %}
        {% if(addr_list[i].is_shipping_address) { %}
            <span class="text-muted">({%= __("Shipping") %})</span>{% } %}

        <a href="#Form/Address/{%= addr_list[i].name %}"
            class="btn btn-default btn-xs pull-right">
            {%= __("Edit") %}</a>
        </p>
    <div style="padding-left: 15px;">
       <p style="padding-top: 5px; font-size: 14px;">
            <!-- {%= addr_list[i].display %} -->
            {% if(addr_list[i].address_line1) { %}
             <label>{%= __("Address") %}</label>: {%= addr_list[i].address_line1 %}<br>
            {% } %}
            {% if(addr_list[i].address_line2) { %}
             <label>{%= __("Address") %}</label>: {%= addr_list[i].address_line2 %}<br>
            {% } %}
            {% if(addr_list[i].city) { %}
             <label>{%= __("City") %}</label>: {%= addr_list[i].city %}<br>
            {% } %}
            {% if(addr_list[i].state) { %}
             <label>{%= __("State") %}</label>: {%= addr_list[i].state %}<br>
            {% } %}
            {% if(addr_list[i].country) { %}
             <label>{%= __("Country") %}</label>: {%= addr_list[i].country %}<br>
            {% } %}

        </p>
    </div>
{% } %}
{% if(!addr_list.length) { %}
<p class="text-muted">{%= __("No address added yet.") %}</p>
{% } %}
