<p><button class="btn btn-xs btn-default btn-contact">
    New Contact</button></p>
    <div class="clearfix"></div>

{% for(var i=0, l=contact_list.length; i<l; i++) { %}
    <p class="h6">
        <div class="row">
        <div class="col-xs-12">
            {%= i+1 %}.
        </div>
        </div>    
        <div class="row">
        <div class="col-xs-8">
        <label>{%= __("Name") %}</label>: {%= contact_list[i].first_name %} {%= contact_list[i].last_name %}<br>
        </div>
        <div class="col-xs-4">
        <!-- {% if(contact_list[i].is_primary_contact) { %}
            <span class="text-muted">({%= __("Primary") %})</span>
        {% } %} -->

        <a href="#Form/Contact/{%= contact_list[i].name %}"
            class="btn btn-xs btn-default pull-right">
            {%= __("Edit") %}</a>
        </div>    
    </p>
    <div style="padding-left: 15px;">
        <p style="padding-top: 5px; font-size: 12px;">
        <div class="row">
        <div class="col-xs-12">
        {% if(contact_list[i].status) { %}
        <label>{%= __("Status") %}</label>: {%= contact_list[i].status %}<br>
        {% } %}
        {% if(contact_list[i].phone) { %}
        <label>{%= __("Landline") %}</label>: {%= contact_list[i].phone %}<br>
        {% } %}
        {% if(contact_list[i].linkedin_id) { %}
        <label>{%= __("Linkedin Id") %}</label>: {%= contact_list[i].linkedin_id %}<br>
        {% } %}
        {% if(contact_list[i].skype_id) { %}
        <label>{%= __("Skype Id") %}</label>: {%= contact_list[i].skype_id %}<br>
        {% } %}
        {% if(contact_list[i].personal_emailid) { %}
            {% for(var j=0, len=contact_list[i].personal_emailid.length; j<len; j++) { %}
            <label>{%= __("Personal Emailid") %}</label>: {%= contact_list[i].personal_emailid[j] %}<br>
            {% } %}
        {% } %}
        {% if(contact_list[i].official_emailid) { %}
            {% for(var p=0, le=contact_list[i].official_emailid.length; p<le; p++) { %}
            <label>{%= __("Official Emailid") %}</label>: {%= contact_list[i].official_emailid[p] %}<br>
            {% } %}
        {% } %}
        {% if(contact_list[i].personal_mobileno) { %}
            {% for(var p=0, le=contact_list[i].personal_mobileno.length; p<le; p++) { %}
            <label>{%= __("Personal Mobile No.") %}</label>: {%= contact_list[i].personal_mobileno[p] %}<br>
            {% } %}
        {% } %}
        {% if(contact_list[i].official_mobileno) { %}
            {% for(var p=0, le=contact_list[i].official_mobileno.length; p<le; p++) { %}
            <label>{%= __("Official Mobile No.") %}</label>: {%= contact_list[i].official_mobileno[p] %}<br>
            {% } %}
        {% } %}
        </div>
        </div>
        </div>
        </p>
    </div>
{% } %}
{% if(!contact_list.length) { %}
<p class="text-muted">{%= __("No contacts added yet.") %}</p>
{% } %}
