<p><!-- <button class="btn btn-xs btn-default btn-contact">
    New Contact</button> --></p>
    <div class="clearfix" ></div>

{% for(var i=0, l=contact_list.length; i<l; i++) { %}
    <p class="h6">
        <div class="row">
        <div class="col-xs-12" style="margin-bottom:12px;" >
            <!-- {%= i+1 %}. -->
        </div>
        </div>    
        <div class="row" style="border: 1px solid #d1d8dd;background-color: #fafbfc;margin-top:-10px;">
        <div class="col-xs-10">
         <h4>Preferred Details :</h4>
         <div class="col-xs-4" style="margin-left:-15px;"><label>{%= __("Name") %}</label>:</div>  <div class="col-xs-6" style="margin-left:35px;">{%= contact_list[i].first_name %} {%= contact_list[i].last_name %}</div><br>
        </div>
        <div class="col-xs-2">
        
        <p><button class="btn btn-xs btn-default btn-view">
    View</button></p>
        </div>    
    </p>
    <div style="padding-left: 15px;">
        <p style="padding-top: 5px; font-size: 12px;">
        <div class="row">
        <div class="col-xs-12">
        <div class="row"><div class="col-xs-4">{% if(contact_list[i].status) { %}
        <label>{%= __("Status") %}</label>:</div> <div class="col-xs-8">{%= contact_list[i].status %}</div></div>
        {% } %}
        <div class="row"><div class="col-xs-4">{% if(contact_list[i].email) { %}
        <label>{%= __("Email") %}</label>:</div> <div class="col-xs-8">{%= contact_list[i].email %}</div></div>
        {% } %}
        <div class="row"><div class="col-xs-4">{% if(contact_list[i].mobile) { %}
        <label>{%= __("Mobile") %}</label>:</div> <div class="col-xs-8">{%= contact_list[i].country_code %}{%= contact_list[i].mobile %}</div></div>
        {% } %}
        {% if(contact_list[i].linkedin_id) { %}<div class="row"><div class="col-xs-4">
        <label>{%= __("Linkedein Id") %}</label>:</div> <div class="col-xs-8">{%= contact_list[i].linkedin_id %}</div></div>
        {% } %}
        {% if(contact_list[i].skype_id) { %}<div class="row"><div class="col-xs-4">
        <label>{%= __("Skype Id") %}</label>:</div> <div class="col-xs-8">{%= contact_list[i].skype_id %}</div></div>
        {% } %}
        <!-- <div class="row"><div class="col-xs-4">{% if(contact_list[i].landline) { %}
        <label>{%= __("Landline") %}</label>:</div> <div class="col-xs-8">{%= contact_list[i].landline %}</div></div>
        {% } %} -->
        {% if(contact_list[i].personal_emailid) { %}
        {% if(contact_list[i].personal_emailid.length) { %}
        <hr style="margin-left:-16px;">
        <h4>Personal Details :</h4>
       {% if(contact_list[i].personal_emailid) { %}
            {% for(var j=0, len=contact_list[i].personal_emailid.length; j<len; j++) { %}
             <div class="row"><div class="col-xs-4"><label>{%= __("Email") %}</label>:</div> <div class="col-xs-8">{%= contact_list[i].personal_emailid[j] %}</div></div>
            {% } %}
        {% } %}
        {% } %}
        {% } %}
        {% if(contact_list[i].personal_mobileno) { %}
             {% for(var p=0, le=contact_list[i].personal_mobileno.length; p<le; p++) { %}
             <div class="row"><div class="col-xs-4"><label>{%= __("Mobile No.") %}</label>:</div> <div class="col-xs-8">{%= contact_list[i].personal_code[p] %}{%= contact_list[i].personal_mobileno[p] %}</div></div>
            {% } %}
        {% } %}
        {% if(contact_list[i].official_emailid) { %}
        {% if(contact_list[i].official_emailid.length) { %}
        <hr style="margin-left:-16px;">
        <h4>Official Details :</h4>
        {% if(contact_list[i].official_emailid) { %}
            {% for(var p=0, le=contact_list[i].official_emailid.length; p<le; p++) { %}
             <div class="row"><div class="col-xs-4"><label>{%= __("Email") %}</label>:</div> <div class="col-xs-8">{%= contact_list[i].official_emailid[p] %}</div></div>
            {% } %}
        {% } %}
        {% } %}
        {% } %}
        {% if(contact_list[i].official_mobileno) { %}
         <div class="row"><div class="col-xs-4">{% for(var p=0, le=contact_list[i].official_mobileno.length; p<le; p++) { %}
            <label>{%= __("Mobile No.") %}</label>:</div> <div class="col-xs-8">{%= contact_list[i].official_code[p] %}{%= contact_list[i].official_mobileno[p] %}</div></div>
            {% } %}
        {% } %}
        </div>
        </div>
        </div>
        </p>
    </div>
{% } %}
{% if(!contact_list.length) { %}
<p class="text-muted">{%= __("No contacts added yet.") %}</p>
{% } %}

 