<p><button class="btn btn-xs btn-default btn-financial">New Financial Data</button></p>
<div class="clearfix"></div>
{% for(var i=0, l=financial_list.length; i<l; i++) { %}
	<p class="h6">
        <!-- {% if(financial_list[i].fiscal_year) { %}
            <span class="text-muted">({%= __("Current Year") %})</span>
        {% } %}
 -->
        <a href="#Form/Financial Data/{%= financial_list[i].name %}"
            class="btn btn-xs btn-default pull-right">
            {%= __("Edit") %}</a>
    </p>
    <div style="padding-left: 15px;">
        <p style="margin-top: 5px; font-size: 12px;">
        <div class="row">
            <div class="col-xs-6">
        <br>    
        <h4>Sales Details</h4>
        {% if(financial_list[i].financial_year) { %}<div class="row"><div class="col-xs-4">
        <label>{%= __("Financial Year") %}</label>:</div> <div class="col-xs-8">{%= financial_list[i].financial_year %}</div></div>
        {% } %}
        {% if(financial_list[i].annual_sales) { %}<div class="row"><div class="col-xs-4">
        <label>{%= __("Annual Sales") %}</label>:</div> <div class="col-xs-8"> {%= financial_list[i].annual_sales %}</div></div>
        {% } %}
        {% if(financial_list[i].ebidta) { %}<div class="row"><div class="col-xs-4">
        <label>{%= __("EBIDTA") %}</label>:</div> <div class="col-xs-8"> {%= financial_list[i].ebidta %}</div></div>
        {% } %}
        <!-- {% if(financial_list[i].is_pe_vc) { %}
        <label>{%= __("IS PE/VC/Angel") %}</label>: {%= financial_list[i].is_pe_vc %}<br>
        {% } %} -->
        <!-- <br>
        {% if(name_of_fund_list[i].name_of_fund){%- for row in doc.name_of_fund -%}
        <label>{{ row.Name Of Fund }}</label>
            {{ row.name_of_fund }}
        {%- endfor -%} %} -->
        {% if(financial_list[i].outstanding_p_loan) { %}
        </div>    
            <div class="col-xs-6">
        <h4>Bank Details</h4>

        {% } %}
        <!-- {% if(financial_list[i].emp_financial_year) { %}
        <label>{%= __("Financial Year") %}</label>: {%= financial_list[i].emp_financial_year %}
        {% } %}
        <br> -->
        {% if(financial_list[i].outstanding_p_loan) { %}<div class="row"><div class="col-xs-4">
        <label>{%= __("Outstanding loan") %}</label>:</div> <div class="col-xs-8"> {%= financial_list[i].outstanding_p_loan %}</div></div>
        {% } %}
        </div>
        </div>   
        </p>
    </div>
{% } %}
{% if(!financial_list.length) { %}
<p class="text-muted">{%= __("No financial data added yet.") %}</p>
{% } %}        
